body {
    background-size: 100% 100%;
}

.top {
    background-image: url(https://i.pinimg.com/564x/b2/63/8b/b2638bfa0e9162cadbf29122ebf8ce9f.jpg);
    background-repeat: no-repeat;
    position: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 600px;
    top: 100px;
}

#menu {
    font-size: large;
    height: 70px;
    width: 1500px;
    background-color: aliceblue;
}

#menu ul>li {
    font-size: 20px;
    display: inline-block;
    margin-left: 6%;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(100, 19, 19);
    padding-top: 1%;
}

li a:hover {
    color: rgb(255, 77, 0);
}

ul li a {
    color: red;
    text-decoration: none;
}

.top1 {
    color: white;
    margin-top: 15%;
    padding-left: 25%;
    font-size: 120px;
    display: block;
    position: relative;
}

.top2 {
    position: relative;
    top: 600px;
    background-image: url(https://i.pinimg.com/564x/e8/94/4a/e8944a782b9d3279d42a2bbd6ecfe5fd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 2400px;
}

.top6 {
    padding-right: 5%;
    padding-top: 3%;
}

.top3 .top5 {
    text-align: justify;
    color: rgb(0, 0, 0);
    float: left;
    width: 45%;
    height: 650px;
    margin-right: 5%;
    font-size: 35px;
    padding-top: 3%;
}

.top4 {
    padding-left: 3%;
}

.top7 {
    margin-top: 5%;
}

h1 {
    color: rgb(53, 88, 119);
    font-size: 40px;
}

.top8 h1 {
    float: right;
    padding-right: 20%;
}

.top7 .top8 p {
    text-align: justify;
    color: rgb(44, 0, 74);
    float: left;
    width: 50%;
    height: 300px;
    margin-right: 5%;
    font-size: 35px;
    padding-top: 0%;
    padding-left: 45%;
}

.top9 {
    /*margin: 0 auto;*/
    flex: 1 0 auto;
    width: 200vh;
    background-size: 35% 100%;
    height: 500px;
    /*border: 3px solid rgb(255, 255, 255);*/
    background-repeat: no-repeat;
    background-image: url(https://i.pinimg.com/564x/a3/83/32/a38332b5bab655dc38d4b34a54086d46.jpg);
    padding-top: 15%;
    -webkit-animation-name: diapo;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -moz-animation-name: diapo;
    -moz-animation-duration: 30s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    animation-name: diapo;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@-webkit-keyframes diapo {
    0% {
        background-image: url(https://i.pinimg.com/564x/f7/c1/88/f7c18815ae0d7e3eb331eaf6233bb301.jpg);
    }
    25% {
        background-image: url(https://i.pinimg.com/564x/bd/d4/7b/bdd47bd123d9a01cb309c95f2f4d05b5.jpg);
    }
    50% {
        background-image: url(https://i.pinimg.com/564x/20/59/2a/20592a3f8a597b2d48704cd6b6bd25e8.jpg);
    }
    75% {
        background-image: url(https://i.pinimg.com/564x/71/3c/75/713c75cbd8e7acf0551fa724b79c540d.jpg);
    }
}

.top10 h1 {
    padding-left: 5%;
}

.top10 p {
    font-size: 30px;
    color: rgb(51, 8, 48);
    padding-left: 2%;
    padding-right: 2%;
}

.top11 {
    padding-left: 9%;
}