body {
    background-image: url(https://i.pinimg.com/564x/25/8d/bc/258dbc533510fbc1f13c860c1c0dff7f.jpg);
    background-size: 100%;
}

#menu {
    font-size: large;
    height: 60px;
    width: 1500px;
    background-color: aliceblue;
}

#menu ul>li {
    font-size: 20px;
    display: inline-block;
    margin-left: 6%;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(100, 19, 19);
}

li a:hover {
    color: rgb(255, 77, 0);
}

ul li a {
    color: black;
    text-decoration: none;
}

.crap {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: 3cm auto 0 auto;
}

.poster {
    width: 280px;
    height: 500px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.poster:hover {
    transform: translateY(20px);
}

.poster:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.poster:hover:before {
    opacity: 1;
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.poster .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    width: 250px;
}

.poster:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.poster .info h1 {
    margin: 0;
    font-size: 25px;
}

.poster .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.poster .info .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.poster .info .btn:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.wrapper h1 .x {
    margin: 0;
    font-size: 20px;
}